.course-list {
  display: flex;
  flex-direction: column;
  margin: 3rem 4rem;
}

.course-list h3 {
  font-size: 3em;
  font-weight: bolder;
  color: #e22b63;
  align-self: center;
  border-bottom: 3px solid #e22b63;
  margin: 0 0 3rem 0;
}

.course-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5rem;
  margin: auto;
}

.course-item .course-card:nth-child(3) {
  height: 490px;
}

.course-card {
  background-color: #e22b63;
  color: #fff;
  padding: 1.5rem;
  width: 100%;
  max-width: 300px;
  margin: 0;
  align-self: auto;
  box-shadow: -1px 1px 40px -20px #000;
  position: relative;
}

.course-card::before {
  content: "";
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 100%;
  height: 100%;
  background-color: #f99fc9ff;
  z-index: -1;
}

.course-card::after {
  content: "";
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 100%;
  height: 100%;
  background-color: #f99fc9ff;
  z-index: -1;
}

.course-card-title {
  font-size: 1.5rem;
  font-weight: 500;
  background-color: #fff;
  color: #e22b63;
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.course-card-body ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.course-card-body li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem 0;
}

.course-card-body span {
  color: #fff;
  outline: #000;
  border: #000;
  width: 250px;
  text-align: start;
  font-size: 1.1rem;
  padding: 0 0 0 1.5rem;
}

.course-card button {
  align-self: center;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 900px) {
  .course-list {
    margin: 3rem 2rem;
  }
  .course-list h3 {
    font-size: 2.5em;
  }
  .course-item {
    gap: 3rem;
  }
  .course-card {
    max-width: 350px;
  }
}
