.wrapper {
  flex-grow: 1;
  margin: auto;
  max-width: 700px;
  max-height: 700px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2vmin;
  justify-items: center;
  align-items: center;
}

.wrapper li {
  list-style-type: none;
  padding: 0;
  z-index: 1;
  grid-column: span 2;
  width: 100%;
  margin-bottom: -70%;
  transition: 0.5s;
  opacity: 1;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.grid-img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.wrapper li:nth-child(7n + 1) {
  grid-column: 2 / span 2;
}

.wrapper li:hover {
  transform: scale(1.3);
}
